@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
/* Fuentes */
/* Colores */
/* Background */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
/* Fuentes */
/* Colores */
/* Background */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap");
.navbar {
  background-color: black;
  font-family: "Cormorant", serif;
  font-size: 1.5rem;
  height: auto; }
  .navbar a {
    color: #c6ac8fff; }
    .navbar a:hover {
      color: #5e503fff; }

.logoNav {
  max-width: 40%; }

/* Fuentes */
/* Colores */
/* Background */
.footer {
  background-color: #0a0908ff;
  color: #c6ac8fff;
  font-family: "Cormorant", serif;
  line-height: 2.3rem; }
  .footer a {
    text-decoration: none;
    color: #c6ac8fff;
    font-size: 2rem; }
    .footer a:hover {
      color: #5e503fff; }
  .footer p {
    font-size: 1.25rem;
    font-family: "Cormorant", serif; }

/* Fuentes */
/* Colores */
/* Background */
/* Fuentes */
/* Colores */
/* Background */
body {
  background-color: #0a0908ff;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  body p {
    color: #c6ac8fff;
    font-family: "Maven Pro", sans-serif; }

.style, .titulo, .bg-black, .tour ul li {
  background-color: rgba(0, 0, 0, 0.9);
  color: #c6ac8fff; }

.titulo {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem; }

.subtitulo {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-size: 1.3rem; }

.box {
  border: solid 1px #5e503fff;
  background-color: rgba(0, 0, 0, 0.9); }

.bg-black {
  border-radius: 1rem; }

.tituloInt {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  text-transform: uppercase; }

.tour ul li {
  font-weight: bold; }

.tourBtn a {
  background-color: #c6ac8fff;
  color: #0a0908ff; }
  .tourBtn a:hover {
    background-color: #5e503fff; }
  .tourBtn a:after {
    background-color: #5e503fff; }

.titleCds {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 2rem;
  color: #c6ac8fff; }

.songs {
  color: #c6ac8fff; }

.tapaCd {
  width: 200px;
  height: 200px; }

.bg-cd {
  background-color: rgba(71, 61, 50, 0.7); }

.tapaTitulo {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 3rem;
  color: #c6ac8fff; }

.backToTop {
  background-color: #c6ac8fff;
  color: #0a0908ff; }
  .backToTop:hover {
    background-color: #5e503fff;
    color: #0a0908ff; }

/* Fuentes */
/* Colores */
/* Background */
.formulario {
  padding: 3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  backdrop-filter: blur(18px) saturate(99%);
  -webkit-backdrop-filter: blur(18px) saturate(99%);
  background-color: rgba(94, 80, 63, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125); }

.formSubtitle {
  color: #c6ac8fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2rem; }

.formTitle {
  font-size: 2.5rem;
  font-family: "Cormorant", serif;
  color: #c6ac8fff; }

.formBtn button {
  background-color: #0a0908ff;
  color: #c6ac8fff;
  border-color: #c6ac8fff; }
  .formBtn button:hover {
    background-color: #5e503fff;
    color: #0a0908ff; }

.modal-content {
  background-color: #0a0908ff;
  color: #c6ac8fff;
  border-color: #c6ac8fff;
  font-size: 1.3rem; }
  .modal-content button {
    background-color: #c6ac8fff;
    color: #0a0908ff; }
    .modal-content button:hover {
      background-color: #5e503fff;
      color: #0a0908ff; }
  .modal-content p {
    text-align: center; }

.form-check-input:checked {
  background-color: #868585;
  border-color: #5e503fff;
  color: #0a0908ff; }

.modal-title {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 2rem; }

.modal-header {
  border-bottom: none;
  padding: 1.5rem; }

.modal-footer {
  border-top: none; }

.formFooter {
  position: fixed;
  bottom: 0;
  width: 100%; }

.imgGalery {
  max-width: 768px;
  height: auto; }

.imgCarousel {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(80%); }

/* Fuentes */
/* Colores */
/* Background */
/* Fuentes */
/* Colores */
/* Background */
/* Fuentes */
/* Colores */
/* Background */
/* Fuentes */
/* Colores */
/* Background */
body {
  background-color: #0a0908ff;
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  body p {
    color: #c6ac8fff;
    font-family: "Maven Pro", sans-serif; }

.style, .titulo, .bg-black, .tour ul li {
  background-color: rgba(0, 0, 0, 0.9);
  color: #c6ac8fff; }

.titulo {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem; }

.subtitulo {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-size: 1.3rem; }

.box {
  border: solid 1px #5e503fff;
  background-color: rgba(0, 0, 0, 0.9); }

.bg-black {
  border-radius: 1rem; }

.tituloInt {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  text-transform: uppercase; }

.tour ul li {
  font-weight: bold; }

.tourBtn a {
  background-color: #c6ac8fff;
  color: #0a0908ff; }
  .tourBtn a:hover {
    background-color: #5e503fff; }
  .tourBtn a:after {
    background-color: #5e503fff; }

.titleCds {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 2rem;
  color: #c6ac8fff; }

.songs {
  color: #c6ac8fff; }

.tapaCd {
  width: 200px;
  height: 200px; }

.bg-cd {
  background-color: rgba(71, 61, 50, 0.7); }

.tapaTitulo {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 3rem;
  color: #c6ac8fff; }

.backToTop {
  background-color: #c6ac8fff;
  color: #0a0908ff; }
  .backToTop:hover {
    background-color: #5e503fff;
    color: #0a0908ff; }

/* Fuentes */
/* Colores */
/* Background */
.navbar {
  background-color: black;
  font-family: "Cormorant", serif;
  font-size: 1.5rem;
  height: auto; }
  .navbar a {
    color: #c6ac8fff; }
    .navbar a:hover {
      color: #5e503fff; }

.logoNav {
  max-width: 40%; }

/* Fuentes */
/* Colores */
/* Background */
.footer {
  background-color: #0a0908ff;
  color: #c6ac8fff;
  font-family: "Cormorant", serif;
  line-height: 2.3rem; }
  .footer a {
    text-decoration: none;
    color: #c6ac8fff;
    font-size: 2rem; }
    .footer a:hover {
      color: #5e503fff; }
  .footer p {
    font-size: 1.25rem;
    font-family: "Cormorant", serif; }

.imgGalery {
  max-width: 768px;
  height: auto; }

.imgCarousel {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(80%); }

/* Fuentes */
/* Colores */
/* Background */
/* Fuentes */
/* Colores */
/* Background */
.formulario {
  padding: 3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  backdrop-filter: blur(18px) saturate(99%);
  -webkit-backdrop-filter: blur(18px) saturate(99%);
  background-color: rgba(94, 80, 63, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125); }

.formSubtitle {
  color: #c6ac8fff;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2rem; }

.formTitle {
  font-size: 2.5rem;
  font-family: "Cormorant", serif;
  color: #c6ac8fff; }

.formBtn button {
  background-color: #0a0908ff;
  color: #c6ac8fff;
  border-color: #c6ac8fff; }
  .formBtn button:hover {
    background-color: #5e503fff;
    color: #0a0908ff; }

.modal-content {
  background-color: #0a0908ff;
  color: #c6ac8fff;
  border-color: #c6ac8fff;
  font-size: 1.3rem; }
  .modal-content button {
    background-color: #c6ac8fff;
    color: #0a0908ff; }
    .modal-content button:hover {
      background-color: #5e503fff;
      color: #0a0908ff; }
  .modal-content p {
    text-align: center; }

.form-check-input:checked {
  background-color: #868585;
  border-color: #5e503fff;
  color: #0a0908ff; }

.modal-title {
  font-family: "Cormorant", serif;
  text-align: center;
  font-size: 2rem; }

.modal-header {
  border-bottom: none;
  padding: 1.5rem; }

.modal-footer {
  border-top: none; }

.formFooter {
  position: fixed;
  bottom: 0;
  width: 100%; }

@media screen and (max-width: 992px) {
  .tituloInt {
    font-size: 2rem; }
  .titulo {
    font-size: 2rem; }
  p {
    font-size: 1.2rem;
    text-align: justify; }
  .formulario {
    padding: 1rem; }
  .formTitle {
    font-size: 2rem; }
  .footer p {
    font-size: 1.2rem;
    text-align: center; }
  .formFooter {
    position: static; }
  .imgCarousel {
    max-width: 992px;
    height: auto; }
  .imgGalery {
    max-width: 500px;
    height: auto; } }

@media screen and (max-width: 768px) {
  .imgCarousel {
    max-width: 768px;
    height: auto; }
  .imgGalery {
    max-width: 400px;
    height: auto; }
  .logoNav {
    max-width: 70%; } }

@media screen and (max-width: 576px) {
  .imgCarousel {
    max-width: 576px;
    height: auto; }
  .imgGalery {
    max-width: 300px;
    height: auto; }
  .video iframe {
    max-width: 300px;
    height: auto; } }

@media screen and (max-width: 1023px) {
  .wow {
    animation-name: none !important;
    visibility: visible !important; } }

@media screen and (max-width: 1400px) {
  .imgGalery {
    max-width: 550px;
    height: auto; } }
