@import "variables";
.navbar {
    background-color: black;
    font-family: $FontCormorant;
    font-size: 1.5rem;
    height:auto;
        a {
            color: $color2;
                &:hover, &:active {
                    color: $color1;
                    background-color: $color2;
                    border-radius: 5%;
                }
        }
}
.active {
    background-color: rgb(39, 37, 37);
    border-radius: 5%;
}
.nav-item {
    padding: 5px;
}
.logoNav {
    max-width: 40%;
}