@import "variables";
@import "general";
@import "header";
@import "footer";
@import "images";
@import "tools";
@import "formulario";
@media screen and (max-width: 992px) {
    .tituloInt {
        font-size: map-get($sizeMap, medium);
    }
    .titulo {
        font-size: map-get($sizeMap, medium);
    }
    p {
        font-size: 1.2rem;
        text-align: justify;
    }
    .formulario {
        padding: 1rem;
    }
    .formTitle {
        font-size: map-get($sizeMap, medium);
    }
    .footer {
                p {
            font-size: 1.2rem;
            text-align: center;
            }
    }
    .formFooter {
        position: static;
    }
    .imgCarousel {
         max-width: 992px;
         height: auto;
    }
    .imgGalery{
        max-width: 500px;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .imgCarousel {
        max-width: 768px;
        height: auto;
    }
    .imgGalery {
        max-width: 400px;
        height: auto;
    }
    .logoNav {
        max-width: 70%;
    }
}
@media screen and (max-width: 576px) {
    .imgCarousel {
        max-width: 576px;
        height: auto;
    }
    .imgGalery {
        max-width: 300px;
        height: auto;
    }
    .video {
        iframe {
            max-width: 300px;
            height: auto;
        }
    }
}
@media screen and (max-width: 1023px) {
    .wow {
         animation-name: none !important;
         visibility: visible !important;
    }
}
@media screen and (max-width: 1400px) {
    .imgGalery {
        max-width: 550px;
        height: auto;
    }
}