@import "variables";
@import "general";
@import "header";
@import "footer";
@import "tools";
@import "formulario";
@media screen and (max-width: 576px) {
    .video {
        iframe {
            max-width: 90%;
            height: auto;
        }
    }
    .tapaCd{
        max-width: 150px;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .logoNav {
        max-width: 70%;
    }
}
@media screen and (max-width: 992px) {
    .tituloInt {
        font-size: map-get($sizeMap, medium);
    }
    .titulo {
        font-size: map-get($sizeMap, medium);
    }
    p {
        font-size: 1.2rem;
        text-align: justify;
    }
    .formulario {
        padding: 1rem;
    }
    .formTitle {
        font-size: map-get($sizeMap, medium);
    }
    .footer {
                p {
            font-size: 1.2rem;
            text-align: center;
            }
    }
    .formFooter {
        position: static;
    }
    .navbar-collapse {
        max-width: 40%;
        a {
            border-radius: 0;
        }
    }
}
@media screen and (max-width: 1023px) {
    .wow {
         animation-name: none !important;
         visibility: visible !important;
    }
}