@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Maven+Pro&display=swap');
/* Fuentes */
$FontCormorant: 'Cormorant', serif;
$FontMaven: 'Maven Pro', sans-serif;
/* Colores */
$color1: #0a0908ff;
$color2: #c6ac8fff;
$color3: #5e503fff;
/* Background */
$bg-black: rgba(0, 0, 0, 0.90);
$bg-form: linear-gradient(45deg, rgba(94,80,63,1) 35%, rgba(105,110,111,1) 97%);